<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="dialect">config.ModifiedSQLServerDialect</property>
    <property name="connection.url">jdbc:jtds:sqlserver://216.121.48.194:9000; DatabaseName=m247test</property>
    <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
    <property name="connection.username">ITDimension</property>
    <property name="connection.password">ITDimension$4968128$</property>

    <mapping class="entity.zIssueTrackingIssueWorklogs"/>
  </session-factory>
</hibernate-configuration>