@(userKeys: List[String], selectedKey:String = "",
        beginDate:String="",
        endDate:String="", TimesForAllUsersFromSelectMonth:Map[String,Int])
@main("Welcome to LogViewer") {
  <div class="firstTable" id="firstTable">
    <h2 style="color: #52a4ff"> Please, enter the current parameters of search</h2>
    <table align = "left" width=100%>
      <tr>
        <th >UserKey</th>
        <th >TimeInHour</th>
      </tr>
      @for(table: (String, Int) <- TimesForAllUsersFromSelectMonth) {
        <tr>
          <th>@table._1</th>
          <th>@table._2</th>
        </tr>
      }
    </table>
  </div>
}