@import service.GlobalService
@(userKeys: Map[String,String], selectedKey:String = "",
        beginDate:String="",
        endDate:String="", TimesForAllUsersFromSelectMonth:Map[String,Int],totalSum:Int=0)
@main("Welcome to LogViewer") {
  <div class="table" id="firstTable">
    <table align = "left"  class="table table-hover">
      <tr class ="info">
        <th class="col-xs-2" >UserKey</th>
        <th class="col-xs-4" >Time In Hour</th>
      </tr>
      @for(table: (String, Int) <- TimesForAllUsersFromSelectMonth) {

        <tr >
          <th class = "active col-xs-2">@table._1</th>
          <td class="col-xs-4" >@if(GlobalService.timeMin(table._2) ==0){
            @(GlobalService.timeHour(table._2))h
          }else{@(GlobalService.timeHour(table._2))h @(GlobalService.timeMin(table._2))m}</td>
        </tr>
      }
      <th class="text-danger">Total</th><td class="text-danger">@if(GlobalService.timeMin(totalSum) ==0){
      @(GlobalService.timeHour(totalSum))h
    }else{@(GlobalService.timeHour(totalSum))h @(GlobalService.timeMin(totalSum))m}</td>
    </table>
  </div>

}