@import entity.zIssueTrackingIssueWorklogs
@import service.GlobalService
@(userKeys: Map[String,String], selectedKey:String = "",
        workLogs:List[zIssueTrackingIssueWorklogs],
        time:Int, beginDate:String="",
        endDate:String="")
@main("Welcome to LogViewer") {


    <div class="secondTable" id="secondTable">
        <h4 class="text-info">Work Logs</h4>
        <div>
            <h4 class="text-info">Summary time in hour: @if(GlobalService.timeMin(time) == 0) {
                @(GlobalService.timeHour(time))h
            } else {
                @(GlobalService.timeHour(time))
                h @(GlobalService.timeMin(time))m}</h4>
        </div>


        <table align = "left" class="table  table-bordered table-hover tablesorter" cellspacing="0" id="secondtableid" width="100%">
            <thead>
                <tr class="info">
                    <th class="clickable">UserKey</th>
                    <th class="clickable">IssueId</th>
                    <th class="clickable">Time In Hour</th>
                    <th class="clickable">Started Time</th>
                    <th class="clickable" style="width: 50%;">Comment</th>
                </tr>
            </thead>
            @for(workLog: zIssueTrackingIssueWorklogs <- workLogs) {
                <tr>
                    <td class="active">@workLog.getUserKey</td>
                    <td>@workLog.getIssueId</td>
                    <td>@if(GlobalService.timeMin(workLog.getTimeInSeconds) == 0) {
                        @(GlobalService.timeHour(workLog.getTimeInSeconds))h
                    } else {
                        @(GlobalService.timeHour(workLog.getTimeInSeconds))
                        h @(GlobalService.timeMin(workLog.getTimeInSeconds))m}</td>
                    <td>@workLog.getStartedDate.toString("yyyy-MM-dd HH:mm")</td>
                    <td>@workLog.getComment</td>
                </tr>
            }
        </table>
    </div>

}
